@model Blog

@{
    ViewData["Title"] = "Post";
}

<style>
     /* Custom CSS to make the form background transparent */
     .form-group {
         background-color: rgba(255, 255, 255, 0); /* Set alpha to 0 for complete transparency */
         border: none;
     }

    /* Custom CSS to make the input fields transparent */
    .form-control {
         background-color: rgba(41, 41, 41, 0.902); /* Set alpha to 0 for complete transparency */
        border: none;
        border-width: .8px; 
        color: white;
    }

    .form-control:focus {
        box-shadow: none;
        color: white;
        transition-timing-function: ease;
        transition:.2s;
        background-color: rgba(74, 74, 74, 0.902); /* Set alpha to 0 for complete transparency */
    }

</style>



<h1>Create a Post</h1>


<hr/>
<div class="row">
    <div id="bootstrap-overrides" class="col-md-4">
        <form EncType="multipart/form-data" asp-action="Post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Header" class="control-label"></label>
                <input asp-for="Header" class="form-control" />
                <span asp-validation-for="Header" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" class="form-control"  rows="5" cols="10"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
                <div class="form-group">
                    <div id="ignore" class="form-group pt-3">
                    @Html.DropDownListFor(blog => blog.Tag.Name, (IEnumerable<SelectListItem>)ViewData["Options"], "Select Tag", new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group p-3">
                <label hidden asp-for="Thumbnail" form-label"></label>
                <div class="custom-file">
                    <input asp-for="Thumbnail" class="custom-file-input" id="formFile">
                    <label class="custom-file-label" for="customFile"></label>
                </div>

            </div>
            <div class="form-group p-2">
                <input type="submit" value="Create" class="btn btn-outline-light" />
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
