@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout) && parentLayout !=  null)
    {
        Layout = parentLayout.ToString();
    }
    else
    {
        Layout = "/Areas/Identity/Pages/_Layout.cshtml";
    }
}

<style>
    #bootstrap-overrides .btn .nav-link active {
        background-color: #2e2e2e;
        color: white;
    }

    .btn-primary {
        border-color: white !important;
    }

    #bootstrap-overrides .nav-pills .nav-link.active, .nav-pills .show > .nav-link {
        background-color: #2e2e2e;
    }

    #bootstrap-overrides .nav-link {
        color: rgba(255, 255, 255, .55);
        transition: .15s ease-in-out, .15s ease-in-out,border-color .15s ease-in-out;
    }

    #bootstrap-overrides .form-floating {
        
         padding: .4rem !important; 
        
    }

    #bootstrap-overrides .form-control:disabled {
        background-color: rgba(0, 0, 0, 0.60);
        opacity: .3;
    }

    #bootstrap-overrides .input-group-text {
        background-color: rgba(0, 0, 0, 0.60);
        opacity: .3;
        color: white;
    }
</style>

<h1 class="text-center">Manage your account</h1>

<body id="bootstrap-overrides">
<div>
    <hr />
    <div class="row">
        <div class="col-md-3">
            <partial name="_ManageNav" />
        </div>
        <div class="col-md-9">
            @RenderBody()
        </div>
    </div>
</div>
</body>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
